<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RetroRevive | reviews</title>
  <link rel="stylesheet" href="/update-review.css" type="text/css"></link>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</head>
<body>
<header>
  <nav>
        <span class="left">
            <img src="https://i.pinimg.com/236x/c5/27/b8/c527b872d426738f62e4e1bac47be896--xbox-controller-gamer-svg.jpg">
            <h1>
                RR Gaming
            </h1>
        </span>
    <span class="right">
            <ul class="navigation">
                <li><a href="career">Careers</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="review">Reviews</a></li>
            </ul>
        </span>
  </nav>
</header>
<form th:action="@{/delete/id={id}(id=${review.id})}" method="POST">
    <input type="submit" value="Delete" class="delete-review">
</form>
<button class="create-review" onclick="openForm()">Edit Review</button>
<div class="form-popup" id="myForm">
  <form class="form-container" action="/update" method="POST">
      <input type="hidden" th:value="${review.getId()}" name="id" required>
    <input type="text" th:value="${review.getName()} " name="name" required>
    <input type="text" th:value="${review.getRating()} " name="rating" required>
    <input type="text" placeholder="Review" th:value="${review.getInfo()} " name="info">

    <input type="submit" value="Submit text goes here" class="btn">
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Rating</th>
    <th>Desc</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <a th:text=" ${review.getId()}" > </a></td>
    <td th:text=" ${review.getName()}"></td>
    <td th:text=" ${review.getRating()}"></td>
    <td th:text=" ${review.getInfo()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>